@font-face {
	font-family: HankenGrotesk;
	src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

.container {
	/* Primary */
	--light-red: hsl(0, 100%, 67%);
	--light-red-transparant: hsla(0, 100%, 67%, 5%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--orangey-yellow-transparant: hsla(39, 100%, 56%, 5%);
	--green-teal: hsl(166, 100%, 37%);
	--green-teal-transparant: hsla(166, 100%, 37%, 5%);
	--cobalt-blue: hsl(234, 85%, 45%);
	--cobalt-blue-transparant: hsla(234, 85%, 45%, 5%);

	/* Gradients */
	/* Background */
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);
	/* Circle */
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);

	height: 100vh;
	font-family: HankenGrotesk, sans-serif;
	display: flex;
	align-items: center;
}

.card {
	margin: 0 auto;
	display: flex;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 1.5rem;
	overflow: hidden;
	max-width: 720px;
}

.card > div {
	width: 50%;
}

.left_container {
	background: linear-gradient(
		to bottom,
		var(--light-slate-blue),
		var(--light-royal-blue)
	);
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	max-width: 400px;
	padding: 1.5rem 2rem;
	text-align: center;
}

.heading_first {
	font-size: 1rem;
	color: var(--light-lavender);
}
.heading_second {
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--white);
	margin-bottom: 0.7rem;
}

.cirlce_container {
	width: 140px;
	height: 140px;
	/* margin: 1.2rem auto; */
	border-radius: 50%;
	background: linear-gradient(
		to bottom,
		var(--violet-blue),
		var(--persian-blue)
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

.score_text {
	color: var(--white);
	font-size: 2.5rem;
	font-weight: 800;
}
.total_text {
	color: var(--light-lavender);
	font-size: 0.9rem;
}
.left_container p {
	color: var(--light-lavender);
}

.right_container {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right_container > h2 {
	font-size: 1.2rem;
}

.icons_container {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
}

.icons_container > div {
	border-radius: 0.5rem;
	margin: 8px 0;
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icons_container > div > :first-child {
	display: flex;
	align-items: center;
}
.icons_container > div > :nth-child(2) {
	color: #000;
}
.icons_container > div > :nth-child(2) > span {
	font-weight: 700;
}

.icon {
	margin-right: 0.4rem;
}

.reaction_container {
	background-color: var(--light-red-transparant);
	color: var(--light-red);
}

.memory_container {
	background-color: var(--orangey-yellow-transparant);
	color: var(--orangey-yellow);
}

.verbal_container {
	background-color: var(--green-teal-transparant);
	color: var(--green-teal);
}

.visual_container {
	background-color: var(--cobalt-blue-transparant);
	color: var(--cobalt-blue);
}

.right_container > button {
	color: var(--white);
	background: var(--dark-gray-blue);
	padding: 0.8rem;
	border-radius: 2rem;
	letter-spacing: 1px;
	border: none;
    cursor: pointer;
}

.right_container > button:hover {
	background: linear-gradient(
		to bottom,
		var(--light-slate-blue),
		var(--light-royal-blue)
	);
	border: none;
}

@media screen and (max-width: 500px) {
	.card {
		flex-direction: column;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.card > div {
		width: 100%;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}
